
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}
:root {
    --blu: #1ae5f7;
    --blk: rgb(14, 12, 12);
    --yellow:#f9ca24;
}

/* navbar section start  */
.header{
    position: sticky;
    top: 0;
    z-index: 1;
}
.mk-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--blk);
    padding: 1rem 1.5rem;
}
.nav-logo{
    text-decoration: none;
}
.nav-logo h1{
    color: #fff;
}
.nav-logo span{
    color: var(--yellow);
}
.hamburger{
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.mk-nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mk-nav-item{
    list-style: none;
    margin-left: 3rem;
}

.mk-nav-link{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding-bottom: 5px;
}

.mk-nav-link:hover{
    color: var(--yellow);
    border-bottom: 1px solid var(--yellow);
}

.nav-logo{
    font-size: 30px;
    font-weight: 500;
    color: white;
}

/* navbar section end  */

/* home section start  */
.mk-home-row{
    height: 100vh;
    align-items: center;
    background-color: #E3EBFE;
}
.mk-home-col{
    padding: 10px;
}
.home-greet{
    margin-top: 20px;
}
.mk-home-col h1 , p{
    margin-left: 20px;
}
.name span{
    color: var(--yellow);
}
.mk-home-p{
    font-size: 50px;
    
}
.mk-home-col button{
    margin-bottom: 20px;
}
.mk-home-col2{
    padding: 10px;
    height: 100%;
    background-color: #E3EBFE;
}
.mk-home-col2 img{
    max-width: 100%;
    height: auto;
    margin-top: 80px;
}
/* home section end  */

/* about section start  */
#about{
    height: 100vh;
}

























/* for responsive nav bar  */
@media only screen and (max-width: 668px){
    .mk-nav-menu{
        position: fixed;
        left: -100%;
        top: 0.5rem;
        flex-direction: column;
        background-color: #1a1919c9;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        transition: 0.3s;

    }

    .mk-nav-menu.active{
        left: 0;
    }

    .mk-nav-item{
        margin: 2.5rem 0;

    }
    .mk-nav-link{
        color: #fff;
    }
    .mk-nav-link:hover{
        color: var(--yellow);
    }

    .hamburger{
        display: block;
        cursor: pointer;
    }
    .bar{
        background-color: #fff;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}